<a href="https://colab.research.google.com/github/iam-fern/real_data/blob/main/China_Health_and_Nutrition_Survey_(CHNS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from google.colab import drive

In [12]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
# where your file is located
FILE_LOCATION = '/content/drive/My Drive/pattern_realdata/en_00.sas7bdat'

In [18]:
df = pd.read_sas(FILE_LOCATION)
df
#df.head()

,IDind,U1B_EN,U3_EN,U2_EN,AE3_1,AE3_2,AE3_3,AE3_4,AE3_5,AE6_1,...,WAVE,AA3_EN,hhid,line,COMMID,T1,T2,T3,T4,T5
0,2.111040e+11,2.0,152.0,37.0,1.0,NaN,2.0,NaN,NaN,2.0,...,2000.0,19890519.0,211104002.0,3.0,211104.0,21.0,1.0,1.0,4.0,2.0
1,2.111040e+11,1.0,142.6,39.6,1.0,NaN,2.0,NaN,NaN,2.0,...,2000.0,19880523.0,211104012.0,4.0,211104.0,21.0,1.0,1.0,4.0,12.0
2,2.111040e+11,1.0,139.0,35.3,1.0,NaN,2.0,NaN,NaN,2.0,...,2000.0,19880902.0,211104018.0,3.0,211104.0,21.0,1.0,1.0,4.0,18.0
3,2.111041e+11,1.0,152.0,39.0,1.0,NaN,2.0,NaN,NaN,2.0,...,2000.0,19881017.0,211104063.0,3.0,211104.0,21.0,1.0,1.0,4.0,63.0
4,2.112020e+11,2.0,145.0,33.5,1.0,NaN,2.0,NaN,NaN,2.0,...,2000.0,19881003.0,211202011.0,3.0,211202.0,21.0,1.0,2.0,2.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104,5.224040e+11,1.0,111.4,18.5,2.0,NaN,2.0,NaN,NaN,2.0,...,2000.0,19930308.0,522404001.0,31.0,522404.0,52.0,2.0,4.0,4.0,1.0
1105,5.224040e+11,2.0,1.3,2.5,2.0,NaN,2.0,NaN,NaN,2.0,...,1997.0,NaN,522404007.0,4.0,522404.0,52.0,2.0,4.0,4.0,7.0
1106,5.224040e+11,2.0,148.4,30.4,1.0,NaN,2.0,NaN,NaN,1.0,...,2000.0,19861014.0,522404013.0,1.0,522404.0,52.0,2.0,4.0,4.0,13.0
1107,5.224040e+11,2.0,13.6,2.7,2.0,NaN,2.0,NaN,NaN,2.0,...,1997.0,NaN,522404042.0,3.0,522404.0,52.0,2.0,4.0,4.0,42.0
1108,5.224040e+11,1.0,116.4,20.5,1.0,NaN,2.0,NaN,NaN,1.0,...,2000.0,19920512.0,522404042.0,4.0,522404.0,52.0,2.0,4.0,4.0,42.0